/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
  body {
    padding-top: 1.3em;
  }
  .calculator {
    height: 590px;
    box-shadow: 2px 3px 6px #888;
  }
  .displayBox {
    height: 150px;
  }
  .displayText {
    margin-top: 80px;
    font-size: 50px;
  }
  .btn-calc, .btn-calc:focus {
    width: 70px;
    height: 70px;
    font-size: 18px;
  }
  .operationSide {
    padding: 0;
  }
  .btn-operation, .btn-operation:focus {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
  .clear, .clear:focus {
    width: 70px;
    height: 70px;
    font-size: 18px;
  }
  .equals, .equals:focus {
    width: 62px;
    height: 63px;
    margin-top: 1px;
  }
  .modal-dialog {
    width: 100%;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 85%;
  }
  .btn-calc, .clear, .btn-calc:focus, .clear:focus {
    width: 80px;
    height: 80px;
  }
  .equals, .equals:focus {
    width: 100%;
    height: 96px;
  }
}